<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express Tweets</title>
    </head>

    <body>
        <h1>Edit Tweet</h1>

        <form method="POST" action="/tweets/{{tweet.id}}?_method=PUT">
            <div>
                <label>Username</label>
            </div>
            <div>
                <input type="text" name="username" value={{tweet.username}} />
            </div>

            <div>
                <label>Post</label>
            </div>
            <div>
                <input type="text" name="post" value={{tweet.post}} />
            </div>

            <div>
                <input type="submit"value="Edit Tweet" />
            </div>
        </form>
    </body>
</html>