<form method="POST" action="/tweets">
    <div>
        <label>Username</label> 
        <input type="text" name="username" />
    </div>
    <div>
        <label>Post</label>
        <input type="text" name="post" />
    </div>
    <input type="submit" value="Create Tweet" />
</form>