<h1>Welcome to Your Dashboard</h1>
<h3>{{{ email }}}</h3>

<div>
    <a href="/logout">Log out</a>
</div>

<button onclick="location.href='http://localhost:3000/users'" type="button">Go to Users</button>