<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Express Tweets</title>
    </head>
    <body>
{{!--Display User Details  --}}
        <h1>User</h1>
        <p>Name: {{user.name}}</p>
        <p>Bio: {{user.bio}}</p>
        <p>Gender: {{user.gender}}</p>

{{!-- Buttons to all Users & all Tweets --}}
        <button onclick="location.href='http://localhost:3000/users'" type="button">Back to Users</button>
        <button onclick="location.href='http://localhost:3000/tweets'" type="button">Back to Tweets</button>
    </body>
</html>